<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">GIỚI THIỆU CÁC SẢN PHẨM BÁN CHẠY</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Chuối tiêu</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Chuối là sự kết hợp hoàn hảo giữa hương vị tuyệt vời và lợi ích dinh dưỡng cao,
                             mang đến trải nghiệm ẩm thực độc đáo và lành mạnh. 
                             Được lựa chọn từ những trang trại có quy trình canh tác bền vững, 
                             chuối của chúng tôi không chỉ đảm bảo an toàn thực phẩm mà còn giữ nguyên hương vị tự nhiên của quả chuối.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Thịt Bò Tươi Sống </h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">

                            Chúng tôi tự hào giới thiệu thịt bò tươi sống, sản phẩm chất lượng cao đến từ những nguồn nguyên liệu tốt nhất, mang đến cho bạn trải nghiệm ẩm thực đích thực và đầy hấp dẫn.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Xoài Tươi Mát - Nguồn Năng Lượng và Dinh Dưỡng cho Mùa Hè</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Chào mừng bạn đến với thế giới của những quả xoài tươi mát, nơi mà hương vị ngọt ngào và chất dinh dưỡng hội tụ để mang lại trải nghiệm ẩm thực tuyệt vời.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Dưa Hấu Tươi Mát - Biểu Tượng của Mùa Hè Sảng Khoái</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Thưởng thức mỗi miếng dưa hấu là trải nghiệm đầy hứng khởi, là cách tốt nhất để kỷ niệm hương vị tinh tế của mùa hè. Hãy chọn dưa hấu của chúng tôi để thêm sự sảng khoái và ngọt ngào vào mỗi bữa ăn của bạn!</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Xanh
                        <br />
                        Sạch
                        <br />
                        Tận tình
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>